{% extends layout %}

{% set panel_title = 'LIST_TITLES.issue_priority' | trans %}

{% block top_container %}
    <a href="{{ url('priority_create') }}" class="btn btn-sm btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        {{ 'BUTTONS.add' | trans }}
    </a>
{% endblock top_container %}

{% block table_head %}
    <tr>
        <th width="100">#</th>
        <th>Заглавие</th>
        <th width="200">Активност</th>
        <th width="200">Добавен</th>
        <th width="200">Действия</th>
    </tr>
{% endblock table_head %}

{% block table_body %}
    {% for priority in collection %}
        <tr>
            <td>{{ priority.id }}</td>
            <td>{{ priority.title }}</td>
            <td>{{ render_widget('toggleable_status', {id: priority.id, value: priority.is_active, entity: 'BugTrackerBundle:Priority', column: 'is_active'}) }}</td>
            <td>{{ priority.created_at | date('d/m/Y H:i') }}</td>
            <td>
                <a href="{{ url('priority_update', {id: priority.id}) }}" class="btn btn-xs btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    {{ 'BUTTONS.edit' | trans }}
                </a>
                <a href="{{ url('priority_delete', {id: priority.id}) }}" class="btn btn-xs btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    {{ 'BUTTONS.delete' | trans }}
                </a>
            </td>
        </tr>
    {% else %}
        <tr class="danger">
            <td class="text-center" colspan="5">{{ 'MESSAGES.no_results_found' | trans }}</td>
        </tr>
    {% endfor %}
{% endblock %}