{% extends layout %}

{% block body %}
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Вход за потребители</div>
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('profile_login_check') }}" method="POST">
                    <div class="form-group">
                        <label>Е-мейл адрес</label>
                        <input type="email" name="_email" value="{{ email }}" class="form-control" placeholder="Е-мейл адрес">
                    </div>
                    <div class="form-group">
                        <label>Парола</label>
                        <input type="password" name="_password" class="form-control" placeholder="Парола">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn btn-primary btn-block">Вход</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}