{% extends default_layout %}

{% set table_class = ['table', 'table-hover', 'table-striped'] %}

{% block body %}
    <div class="col-sm-12 crud-container">
        <div class="top-wrapper">{% block top_container %}{% endblock top_container %}</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ panel_title | default("") }}</strong>
                <div class="pull-right">
                    {% block panel_widgets %}{% endblock panel_widgets %}
                </div>
            </div>
            <table class="{{ table_class | join(' ') }}">
                {% block table_head %}{% endblock table_head %}
                {% block table_body %}{% endblock table_body %}
            </table>
            <div class="panel-footer">
                {% block table_footer %}{% endblock table_footer %}
            </div>
        </div>
    </div>
{% endblock body %}