<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'TITLES.default' | trans }}{% endblock %}</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic-ext" type="text/css">
        {% stylesheets
            'css/bootstrap-3.3.7.min.css'
            'css/bootstrap-datepicker.min.css'
            'css/filemanager.css'
            'css/styles.css'
            filter='cssrewrite' output='css/compiled/app.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-web-path="{{ asset('js') }}">
    {{ render_widget('navigation') }}
    <div class="container-fluid wrapper-fluid">
        <div class="row">
            {% include 'partials/breadcrumb.html.twig' %}
            {% block body %}{% endblock %}
        </div>
    </div>
    <script src="{{ asset('js/require.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
