<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ 'TITLES.default' | trans }}!{% endblock %}</title>
        {% stylesheets
            'css/bootstrap-3.3.7.min.css'
            'css/styles.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-web-path="{{ asset('js') }}">
    <div class="container-fluid wrapper-fluid">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
    <script src="{{ asset('js/require.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
