{% if breadcrumb_items is defined and breadcrumb_items | length %}
    <div class="col-sm-12">
        <ul class="breadcrumb">
            {% for item in breadcrumb_items %}
                <li>
                    {% if item.link is not empty %}
                        <a href="{{ item.link }}">{{ item.label }}</a>
                    {% else %}
                        {{ item.label }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}