{% macro build_navigation(collection) %}
    {% import _self as parent %}

    {% for item in collection %}
        {% if item.children is defined and item.children is not empty %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ item.label }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{ parent.build_navigation(item.children) }}
                </ul>
            </li>
        {% else %}
            <li><a href="{{ item.link }}">{{ item.label }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as macro %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('homepage') }}">PM System</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {{ macro.build_navigation(collection.left) }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{ macro.build_navigation(collection.right) }}
            </ul>
        </div>
    </div>
</nav>