{% extends layout %}

{% set panel_title = 'LIST_TITLES.users' | trans %}

{% block top_container %}
    <a href="{{ url('user_create') }}" class="btn btn-sm btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        {{ 'BUTTONS.add' | trans }}
    </a>
{% endblock top_container %}

{% block table_head %}
    <tr>
        <th width="100">#</th>
        <th>Потребител</th>
        <th>E-мейл</th>
        <th width="200">Активност</th>
        <th width="200">Добавен</th>
        <th width="200">Действия</th>
    </tr>
{% endblock table_head %}

{% block table_body %}
    {% for user in collection %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ render_widget('toggleable_status', {id: user.id, value: user.is_active, entity: 'BugTrackerBundle:User', column: 'is_active'}) }}</td>
            <td>{{ user.created_at | date('d/m/Y H:i') }}</td>
            <td>
                <a href="{{ url('user_update', {id: user.id}) }}" class="btn btn-xs btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                    {{ 'BUTTONS.edit' | trans }}
                </a>
                <a href="{{ url('user_delete', {id: user.id}) }}" class="btn btn-xs btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    {{ 'BUTTONS.delete' | trans }}
                </a>
            </td>
        </tr>
    {% else %}
        <tr class="danger">
            <td class="text-center" colspan="5">{{ 'MESSAGES.no_results_found' | trans }}</td>
        </tr>
    {% endfor %}
{% endblock %}