.sfb {overflow-y:auto;font-size:12px;}
.sfb  ul { list-style:none;}

.sfb .sfbBreadCrumbs  { background:#f5f5f5; margin:0 !important; padding:5px 10px;}
.sfb .sfbBreadCrumbs li {
    display:inline-block;
    cursor:pointer;
    margin:0;
}

.sfb .sfbBreadCrumbs li:before {
    content: "/";
    color:#bbb;
    padding:0 10px;
}

.sfb .sfbBreadCrumbs li:first-child:before {
    content: "";
    padding: 0;
}

.sfb .sfbContent ul {padding:0;margin:0;}
.sfb .sfbContent li {cursor:pointer;margin:0;-webkit-box-sizing: border-box;
    padding: 5px;
    border-bottom: 1px solid #eee;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.sfb .sfbContent li.selected {  background:#eee; }
.sfb .sfbContent li span {margin-left: 5px;}

.sfb .sfbContent.icon i { display:block;}
.sfb .sfbContent.icon li { display:inline-block; text-align:center;}
.sfb .sfbContent.icon span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height:1.2;
}

.sfb .sfbContent.details li {
    padding:5px 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap:break-word;
}
.sfb .sfbContent.details span { padding-left:10px;}

.sfb.x32 .sfbContent.icon li { width:80px; height:87px; padding:10px; }
.sfb.x32 .sfbContent.icon i { font-size:32px;}
.sfb.x32 .sfbContent.icon span { margin-top:5px;height:30px; font-size: 12px; }

.sfb.x22 .sfbContent.icon { padding:5px;}
.sfb.x22 .sfbContent.icon li { width:70px; height:63px; padding:5px; }
.sfb.x22 .sfbContent.icon i { font-size:22px;}
.sfb.x22 .sfbContent.icon span { margin-top:5px; height:25px; font-size: 11px; }

.sfb.x16 .sfbContent.icon { padding:5px;}
.sfb.x16 .sfbContent.icon li { width:64px; height:55px; padding:5px; }
.sfb.x16 .sfbContent.icon i { font-size:16px;}
.sfb.x16 .sfbContent.icon span { margin-top:5px; height:25px; font-size: 11px; }

.sfb .sfbContent.details i { font-size:16px;diplay:inline-block;vertical-align:middle;}
.sfb .sfbContent.details i { font-size:16px;diplay:inline-block;vertical-align:middle;}
