@mixin status-priorities($color_immediate, $color_urgent, $color_high, $color_normal, $color_low) {
    &.priority-immediate {
        background-color: $color_immediate;
    }
    &.priority-urgent {
        background-color: $color_urgent;
    }
    &.priority-high {
        background-color: $color_high;
    }
    &.priority-normal {
        background-color: $color_normal;
    }
    &.priority-low {
        background-color: $color_low;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.container-fluid {
    &.wrapper-fluid {
        margin: 20px;
    }
}

.top-wrapper {
    margin-bottom: 15px;
}

label.required:after {
    content: " *";
}

.status-new {
    @include status-priorities(#ff6655, #ff7766, #ff8877, #ff9988, #ffaa99);
}

.status-progress {
    @include status-priorities(#8c8cfe, #9c9cfe, #acacfe, #bcbcfe, #ccccfe);
}

.status-resolved {
    @include status-priorities(#008833, #00aa55, #00cc77, #00ee99, #99ffbb);
}

.status-feedback {
    @include status-priorities(#ff9911, #ffaa33, #ffbb44, #ffcc55, #ffdd66);
}

.status-closed {
    @include status-priorities(#777777, #888888, #999999, #aaaaaa, #bbbbbb);
}

.tabs-left {
    padding-top: 2px;
    border-bottom: none;
    border-right: 1px solid #ddd;

    > li {
        float: none;
        margin-bottom: 2px;
        margin-right: -1px;
        border-bottom: 1px solid #eee;

        &> a {
            display:block;
            border-radius: 4px 0 0 4px;
            margin-right: 0;
            text-align: right;
        }

        &.active > a, .active > a:hover, .active > a:focus {
            border-bottom-color: #ddd;
            border-right-color: transparent;
            background-color: #eee;
        }
    }
}

.task {
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 3px solid #d65c4f;
    margin-bottom: 30px;
    min-height: 150px;

    .task-description {
        min-height: 100px;
        a {
            font-weight: bold;
        }

        span {
            display: block;
            margin-top: 5px;
            color: #aaa;
        }
    }

    .task-info {
        text-align: right;
        color: #aaa;
    }

    .with-padding {
        padding: 15px;
    }
}

.breadcrumb {
    border-radius: 2px;
    border: 1px solid #ccc;

    li {
        font-weight: bold;
        font-size: 11px;
        color: #999;

        & a {
            color: #444;
        }
    }

    li:first-child:before {
        font-family: 'Glyphicons Halflings';
        -webkit-font-smoothing: antialiased;
        content: "\e021";
        margin-right: 5px;
        color: #444;
    }
}

.issue-table {
    a {
        color: #666;
        font-weight: bold;
        border-bottom: 1px dashed #666;

        &:hover {
            text-decoration: none;
            border-bottom: 1px solid #666;
        }
    }
}

.issue-description {
    padding: 15px;
    border: 1px solid #eee;
    border-left: 5px solid #1B809E;
}

#files {
    height: 350px;
    border: 1px solid #ddd;
}