body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px; }

.container-fluid.wrapper-fluid {
  margin: 20px; }

.top-wrapper {
  margin-bottom: 15px; }

label.required:after {
  content: " *"; }

.status-new.priority-immediate {
  background-color: #ff6655; }
.status-new.priority-urgent {
  background-color: #ff7766; }
.status-new.priority-high {
  background-color: #ff8877; }
.status-new.priority-normal {
  background-color: #ff9988; }
.status-new.priority-low {
  background-color: #ffaa99; }

.status-progress.priority-immediate {
  background-color: #8c8cfe; }
.status-progress.priority-urgent {
  background-color: #9c9cfe; }
.status-progress.priority-high {
  background-color: #acacfe; }
.status-progress.priority-normal {
  background-color: #bcbcfe; }
.status-progress.priority-low {
  background-color: #ccccfe; }

.status-resolved.priority-immediate {
  background-color: #008833; }
.status-resolved.priority-urgent {
  background-color: #00aa55; }
.status-resolved.priority-high {
  background-color: #00cc77; }
.status-resolved.priority-normal {
  background-color: #00ee99; }
.status-resolved.priority-low {
  background-color: #99ffbb; }

.status-feedback.priority-immediate {
  background-color: #ff9911; }
.status-feedback.priority-urgent {
  background-color: #ffaa33; }
.status-feedback.priority-high {
  background-color: #ffbb44; }
.status-feedback.priority-normal {
  background-color: #ffcc55; }
.status-feedback.priority-low {
  background-color: #ffdd66; }

.status-closed.priority-immediate {
  background-color: #777777; }
.status-closed.priority-urgent {
  background-color: #888888; }
.status-closed.priority-high {
  background-color: #999999; }
.status-closed.priority-normal {
  background-color: #aaaaaa; }
.status-closed.priority-low {
  background-color: #bbbbbb; }

.tabs-left {
  padding-top: 2px;
  border-bottom: none;
  border-right: 1px solid #ddd; }
  .tabs-left > li {
    float: none;
    margin-bottom: 2px;
    margin-right: -1px;
    border-bottom: 1px solid #eee; }
    .tabs-left > li > a {
      display: block;
      border-radius: 4px 0 0 4px;
      margin-right: 0;
      text-align: right; }
    .tabs-left > li.active > a, .tabs-left > li .active > a:hover, .tabs-left > li .active > a:focus {
      border-bottom-color: #ddd;
      border-right-color: transparent;
      background-color: #eee; }

.task {
  background-color: #fff;
  border: 1px solid #ddd;
  border-left: 3px solid #d65c4f;
  margin-bottom: 30px;
  min-height: 150px; }
  .task .task-description {
    min-height: 100px; }
    .task .task-description a {
      font-weight: bold; }
    .task .task-description span {
      display: block;
      margin-top: 5px;
      color: #aaa; }
  .task .task-info {
    text-align: right;
    color: #aaa; }
  .task .with-padding {
    padding: 15px; }

.breadcrumb {
  border-radius: 2px;
  border: 1px solid #ccc; }
  .breadcrumb li {
    font-weight: bold;
    font-size: 11px;
    color: #999; }
    .breadcrumb li a {
      color: #444; }
  .breadcrumb li:first-child:before {
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    content: "\e021";
    margin-right: 5px;
    color: #444; }

.issue-table a {
  color: #666;
  font-weight: bold;
  border-bottom: 1px dashed #666; }
  .issue-table a:hover {
    text-decoration: none;
    border-bottom: 1px solid #666; }

.issue-description {
  padding: 15px;
  border: 1px solid #eee;
  border-left: 5px solid #1B809E; }

#files {
  height: 350px;
  border: 1px solid #ddd; }
