{% extends layout %}

{% set panel_title = 'LIST_TITLES.issues' | trans %}

{% block body %}
    {% set table_class = ['table', 'issue-table'] %}
    {{ parent() }}
{% endblock body %}

{% block top_container %}
    <a href="{{ url('issue_create', {slug: project.slug}) }}" class="btn btn-sm btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        {{ 'BUTTONS.add' | trans }}
    </a>
{% endblock top_container %}

{% block table_head %}
    <tr>
        <th width="100">#</th>
        <th>Заглавие</th>
        <th>Статус</th>
        <th>Тракер</th>
        <th>Приоритет</th>
        <th>Крайна дата</th>
        <th>Създал</th>
        <th width="200">Добавен</th>
        <th width="200">Обновен</th>
    </tr>
{% endblock table_head %}

{% block table_body %}
    {% for issue in collection %}
        <tr class="{{ [issue.status_class_name, issue.priority_class_name] | join(' ') }}">
            <td>{{ link_to(issue.issue_id, 'browse_issue', {slug: project.slug, issue_slug: issue.issue_slug}) }}</td>
            <td>{{ link_to(issue.issue_title, 'browse_issue', {slug: project.slug, issue_slug: issue.issue_slug}) }}</td>
            <td>{% if statuses[issue.issue_status_id] is defined %}{{ statuses[issue.issue_status_id] }}{% endif %}</td>
            <td>{% if trackers[issue.issue_tracker_id] is defined %}{{ trackers[issue.issue_tracker_id] }}{% endif %}</td>
            <td>{% if priorities[issue.issue_priority_id] is defined %}{{ priorities[issue.issue_priority_id] }}{% endif %}</td>
            <td>{% if issue.issue_due_date is not empty %}{{ issue.issue_due_date | date('d F Y') }}{% endif %}</td>
            <td>{{ issue.username }}</td>
            <td>{{ time_ago(issue.issue_created_at) }}</td>
            <td>{{ time_ago(issue.issue_updated_at) }}</td>
        </tr>
    {% else %}
        <tr class="danger">
            <td class="text-center" colspan="9">{{ 'MESSAGES.no_results_found' | trans }}</td>
        </tr>
    {% endfor %}
{% endblock %}