{% extends layout %}

{% block body %}
    <div class="col-sm-12 crud-container">
        {% if collection is defined and collection | length == 0 %}
            <div class="alert alert-danger text-center">
                {{ 'MESSAGES.no_results_found' | trans }}
            </div>
        {% endif %}
        <div class="row">
            {% for project in collection if collection is defined and collection | length %}
                <div class="col-md-6">
                    <div class="task">
                        <div class="row with-padding">
                            <div class="col-sm-9">
                                <div class="task-description">
                                    <a href="{{ path('browse_project', {slug: project.slug}) }}">{{ project.title }}</a>
                                    {% if project.description %}
                                        <span>{{ project.description | truncate(250, true) | raw }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="task-info">
                                    <span>{{ project.created_at | date('F d, Y') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <!-- Render edit/delete controls for admins or something... -->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}