{% extends layout %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/pages/issue.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'FORM_TITLES.manage_issue' | trans }}</div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="col-md-2">
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active">
                            <a href="#basic" data-toggle="tab">{{ 'TABS.issue.basic' | trans }} <i class="glyphicon glyphicon-pencil"></i></a>
                        </li>
                        <li>
                            <a href="#attachments" data-toggle="tab">{{ 'TABS.issue.attachments' | trans }} <i class="glyphicon glyphicon-file"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane active" id="basic">
                            {{ form_row(form.title) }}
                            {{ form_row(form.tracker) }}
                            {{ form_row(form.priority) }}
                            {{ form_row(form.status) }}
                            {{ form_row(form.due_date) }}
                            {{ form_row(form.description) }}
                        </div>
                        <div class="tab-pane" id="attachments">
                            {{ form_row(form.attachments) }}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}