{% extends layout %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ issue.title }}</strong>
                <div class="pull-right">
                    <a href="{{ path('issue_update', {id: issue.id, slug: project.slug}) }}" class="btn btn-xs btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i>
                        {{ 'BUTTONS.edit' | trans }}
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Статус</dt>
                                <dd>{{ issue.status is not empty ? issue.status.title : "" }}</dd>
                                <dt>Тракер</dt>
                                <dd>{{ issue.tracker is not empty ? issue.tracker.title : "" }}</dd>
                                <dt>Приоритет</dt>
                                <dd>{{ issue.priority is not empty ? issue.priority.title : "" }}</dd>
                                <dt>Създаден от</dt>
                                <dd>{{ issue.getCreatedBy is not empty ? issue.getCreatedBy.username }}</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="dl-horizontal">
                                <dt>Създаден</dt>
                                <dd>{{ time_ago(issue.getCreatedAt) }}</dd>
                                <dt>Обновен</dt>
                                <dd>{{ time_ago(issue.getUpdatedAt) }}</dd>
                                <dt>Крайна дата</dt>
                                <dd>{{ issue.getDueDate is not empty ? (issue.getDueDate | date('d F Y')) : "" }}</dd>
                                <dt>Назначен на</dt>
                                <dd></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 issue-description">{{ issue.description | raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}