{% block file_manager_widget %}
    <div class="input-group" data-role="fm-container">
        {% if compound %}
            {{- block('form_widget_compound') -}}
        {% else %}
            <span class="input-group-btn">
                <button type="button" data-action="toggle-file-manager" class="btn btn-primary" title="Click to open File Manager" data-url="{{ url('ajax_file_manager') }}">
                    <i class="glyphicon glyphicon-upload"></i>
                </button>
            </span>
            {{- block('form_widget_simple') -}}
        {% endif %}
    </div>
{% endblock file_manager_widget %}