{% block collection_widget %}
    {% spaceless %}
        {{ block('bootstrap_collection_table') }}
    {% endspaceless %}
{% endblock %}

{% block collection_widget_row %}
    <tr>
        {% for element in child %}
            <td>{{ form_widget(element) }}</td>
        {% endfor %}
        {% if allow_delete %}
            <td>
                <a href="javascript:;" class="btn btn-danger btn-sm" data-role="remove-collection-item">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        {% endif %}
    </tr>
{% endblock %}

{% block collection_row %}
    {% spaceless %}
        {{ block('section_begin_row') }}
        <div class="collection_row">
            {{ form_widget(form) }}
        </div>
        {{ block('section_end_row') }}
    {% endspaceless %}
{% endblock %}

{% block bootstrap_collection_table %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set child = prototype %}
            {% set attr = attr|merge({'data-prototype': block('collection_widget_row'), 'data-prototype-name': prototype.vars.name, 'class': attr.class|default(' form-collection') }) %}
        {% endif %}

        <div class="panel panel-info border-wrap" data-role="collection">
            <div class="panel-heading">
                {{ form_label(form) }}
                <div class="pull-right">
                    <div class="form-inline">
                        <div class="form-group">
                            {% if allow_add %}
                                <a href="javascript:;" class="btn btn-success btn-xs" style="margin-right:10px;" data-role="add-collection-item">
                                    <i class="glyphicon glyphicon-plus"></i> Add new item
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div {{ block('widget_container_attributes') }}>
                    {{ form_errors(form) }}

                    <table class="table table-striped" id="{{ form.vars.id }}" {% if sortable is defined and sortable is sameas(true) %}data-type="sortable-table" data-selector="{{ sortableSelector }}"{% endif %}>
                            <thead>
                            <tr>
                                {% if prototype is defined %}
                                    {% for row in prototype %}
                                        {% if row.vars.attr.hidden is defined and row.vars.attr.hidden is sameas(true) %}
                                            <th width="1%"></th>
                                        {% else %}
                                            <th width="{{ 100 / (prototype | length) }}%">{{ form_label(row) }}</th>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for label in fallback_labels %}
                                        <th width="{{ 100 / (fallback_labels | length) }}%">{{ label }}</th>
                                    {% endfor %}
                                {% endif %}
                                {% if allow_delete %}
                                    <th width="2%"><i class="glyphicon glyphicon-trash"></i></th>
                                {% endif %}
                            </tr>
                            </thead>
                        <tbody>
                        {% for child in form %}
                            {{ block('collection_widget_row') }}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ block('collection_widget_additional') }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}