{% extends layout %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/pages/project.js') }}"></script>
{% endblock javascripts %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'FORM_TITLES.projects' | trans }}</div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="col-md-2">
                    <ul class="nav nav-tabs tabs-left">
                        <li class="active">
                            <a href="#basic" data-toggle="tab">{{ 'TABS.project.basic' | trans }} <i class="glyphicon glyphicon-pencil"></i></a>
                        </li>
                        <li>
                            <a href="#users" data-toggle="tab">{{ 'TABS.project.users' | trans }} <i class="glyphicon glyphicon-user"></i></a>
                        </li>
                        <li>
                            <a href="#trackers" data-toggle="tab">{{ 'TABS.project.trackers' | trans }} <i class="glyphicon glyphicon-th-list"></i></a>
                        </li>
                        <li>
                            <a href="#priorities" data-toggle="tab">{{ 'TABS.project.priorities' | trans }} <i class="glyphicon glyphicon-flag"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane active" id="basic">
                            {{ form_row(form.title) }}
                            {{ form_row(form.slug) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.is_active) }}
                            {{ form_row(form.submit) }}
                        </div>
                        <div class="tab-pane" id="users">
                            <div class="alert alert-info">To be implemented via AJAX maybe.</div>
                        </div>
                        <div class="tab-pane" id="trackers">
                            {{ form_row(form.trackers) }}
                        </div>
                        <div class="tab-pane" id="priorities">
                            {{ form_row(form.priorities) }}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}