{% extends layout %}

{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'FORM_TITLES.issue_tracker' | trans }}</div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock body %}